services:
  api:
    build: .
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      db:
        condition: service_started
    env_file:
      - .env
    environment:
      - DB_HOST=db # Overrides localhost from .env for Docker network config

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
